<? import skeleton/slides.lib.js ?><?

var title = 'HTML Presentation Slides';
topic('Standard elements');
slide('slides/title.inc.html', 'Title');
slide('slides/browsers.inc.html', 'Web browsers');
slide('slides/text-images.inc.svg', 'Images');
slide('slides/vectors.inc.svg', 'Vector graphics');
slide('slides/videos.inc.html', 'Videos', 'black');
topic('More');
slide('slides/more.inc.html', 'More');
slide('slides/iframe.inc.html', 'Websites');
slide('slides/animations.inc.html', 'Animations');
slide('slides/interactive.inc.html', 'Interactive');
//slide('slides/004.inc.html', 'Test');
//slide('slides/tacoma.mp4', 'Movie', 'black');
//slide('launcher-icon-512.png', 'Image', 'black');

?><? include skeleton/slides.inc.html ?>
