<div style="font-size: 30px; font-weight: bold; line-height: 40px; margin-top: 80px">Or do interactive stuff.</div>

<div style="color: #999; font-size: 16px; margin-top: 100px">Type a word</div>
<div style="margin-top: 4px">
	<input id="interactiveInput" style="background: #eee; border: none; border-radius: 4px; font-size: 30px; padding: 10px; text-align: center; width: 400px" value="giraffe">
</div>

<div style="margin-top: 40px">
	<div id="interactiveOutput" style="background: #444; border-radius: 4px; color: white; display: inline-block; font-size: 30px; padding: 10px; text-align: center; width: 400px">&nbsp;</div>
</div>
<div style="color: #999; font-size: 16px; margin-top: 4px">This is your word spelled backwards</div>
