<div class="text left w600">
	<h1>Introduction</h1>

	<ul>
		<li>Here is the problem</li>
		<li>But we have a solution</li>
		<li>And that's what this presentation is about</li>
	</ul>

	<p>Here is some more text without bullet points. Although you shouldn't write too much text on slides, I guess.</p>
	
	<p><img src="slides/jigsaw.jpg" style="margin-top: 80px; vertical-align: middle; width: 160px"></p>
	<p>This is an image in the text flow.</p>
</div>

<img class="right w400" src="slides/jigsaw.jpg">

<div class="footnote right">Image: public domain</div>
