<div class="text centered">
	<h1>Measurements</h1>

	<p>Results from site A</p>
	
	<table class="shades">
		<tr>
			<th>Day</th>
			<th>Temperature</th>
			<th>Cloud cover</th>
		</tr>
		<tr>
			<td>Aug 16</td>
			<td>23.2 °C</td>
			<td>clear</td>
		</tr>
		<tr>
			<td>Aug 17</td>
			<td>25.0 °C</td>
			<td>clear</td>
		</tr>
		<tr>
			<td>Aug 18</td>
			<td>21.8 °C</td>
			<td>60%¹</td>
		</tr>
		<tr>
			<td>Aug 19</td>
			<td>19.5 °C</td>
			<td>covered</td>
		</tr>
		<tr>
			<td>Aug 20</td>
			<td>22.0 °C</td>
			<td>20%</td>
		</tr>
	</table>
	
	<p style="color: gray; font-size: 16px">¹The devices reported 55% and 65%.</p>
</div>

<div class="notes right">
	<p>Here are some notes that are only visible on the slide roll, but not in presentation mode.</p>
	<p>These are primarily for the presenter, or for those who read the slides after the presentation.</p>
</div>
