<div style="font-size: 20px; font-weight: bold; margin-top: 150px"><img src="pwa/launcher-icon.svg" style="vertical-align: middle" width="100"></div>
<div style="font-size: 60px; font-weight: bold; margin-top: 50px">HTML Presentation Slides</div>
<div style="font-size: 20px; margin-top: 50px">Thomas Lochmatter, 2019</div>

<div class="annotation" style="color: #999; font-size: 20px; margin-top: 50px">Press <div style="border: 2px solid #bbb; border-radius: 5px; display: inline-block; font-size: 16px; font-weight: bold; line-height: 20px; padding: 0 6px; vertical-align: top">F11</div> to go fullscreen, and <div style="border: 2px solid #bbb; border-radius: 5px; display: inline-block; font-size: 16px; font-weight: bold; line-height: 20px; padding: 0 6px; vertical-align: top">P</div> to switch to presentation mode.<br>For more settings, there is a menu in the upper right corner.</div>
